Estamos trabajando ...

<h6>Seleccione el archivo excel con la lista de correos de los estudiantes</h6>
<br>

<%= form_for([@school, @group], method: :post, url: procesar_excel_path(@school, @group), html: {class: "form-inline"}) do |form| %>
   <div class="form-group">
     <%= form.file_field :excel %>
     <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-upload fa-fw" aria-hidden="true"></i>&nbsp;Subir archivo</button>
     
     <hr />


   </div>
 <% end %>

<br>
<br>

     <code>
     <%= @group.inspect %>
     </code>

<%= link_to "Regresar a clase #{@group.name}", controller: "groups", action: "show", id: @group %>
